accelerate==1.13.0
diffusers==0.38.0
gradio==6.17.3
gradio_client==2.5.0
huggingface_hub==0.36.2
numpy==2.4.4
ollama==0.6.2
opencv-python-headless==4.13.0.92
pycocotools==2.0.11
pydantic==2.13.4
pydantic_core==2.46.4
pyrender==0.1.45
safetensors==0.8.0
shapely==2.1.2
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
transformers==4.51.3
trimesh==4.12.2
